<section fxLayout="column">

  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ welcomeHeader | uppercase}}  </h1>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/images//eaiib.png" alt="EAIIB logo" width="250" height="250">
  </div>
  <p fxLayout="column" fxLayoutAlign="center center">
    Zarejestruj się i odkrywaj kursy z wydziału EAIIB w kategoriach:
  </p>

  <div>

    <mat-tab-group dynamicHeightc mat-align-tabs="center">

      <mat-tab label="Automatyka i Robotyka" >
        <div class="large-box mat-elevation-z4" fxLayout="column">
          <p style="font-weight: bold;">Charakterystyka</p>
          <p class="another-text">Kursy w zakresie projektowania, uruchamiania i utrzymania w ruchu systemów sterowania.</p>
        </div>
      </mat-tab>

      <mat-tab label="Elektrotechnika">
        <div class="large-box mat-elevation-z4" fxLayout="column">
          <p style="font-weight: bold;">Charakterystyka</p>
          <p class="another-text">Współczesna problematyka z dziedziny inżynierii elektrycznej i aplikacji przemysłowych w zakresie wytwarzania, przesyłu i wykorzystania energii elektrycznej.</p>
        </div>
      </mat-tab>

      <mat-tab label="Informatyka">
        <div class="large-box mat-elevation-z4" fxLayout="column">
          <p style="font-weight: bold;">Charakterystyka</p>
          <p class="another-text">Wybrane aspekty budowy oprogramowania, w szczególności systemów baz danych, aplikacji działających w środowiskach sieciowych i budowy interfejsu użytkownika.</p>
        </div>
      </mat-tab>

      <mat-tab label="Inżynieria biomedyczna">
        <div class="large-box mat-elevation-z4" fxLayout="column">
          <p style="font-weight: bold;">Charakterystyka</p>
          <p class="another-text">Różnorodne aspekty zastosowań wielu gałęzi techniki w medycynie i ochronie zdrowia.</p>
        </div>
      </mat-tab>

      <mat-tab label="Mikroelektronika">
        <div class="large-box mat-elevation-z4" fxLayout="column">
          <p style="font-weight: bold;">Charakterystyka</p>
          <p class="another-text">Wiedza i umiejętności konieczne do obsługi i projektowania urządzeń mikroelektronicznych.</p>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>

</section>
