<mat-card class="course-card-style">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.backgroundImage]="'url(' + minImageUrl + ')'"></div>
    <mat-card-title>{{ course.name }}</mat-card-title>
    <mat-card-subtitle>{{ course.category }}</mat-card-subtitle>
  </mat-card-header>
  <img class="main-card-image" mat-card-image src="{{course.imageUrl}}" alt="Course photo">
  <mat-card-content>
    <p class="course-short-desc">
      {{ course.description }}
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <p fxFlexAlign="baseline" class="rating-para">
        <bar-rating [max]="5" [readOnly]="false" (rateChange)="onRating($event)"></bar-rating>
      </p>
    </div>
  </mat-card-content>

</mat-card>
