<mat-card class="course-card-style">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.backgroundImage]="'url(' + minImageUrl + ')'"></div>
    <mat-card-title>{{ course.name }}</mat-card-title>
    <mat-card-subtitle>{{ course.category }}</mat-card-subtitle>
  </mat-card-header>
  <img class="main-card-image" mat-card-image src="{{course.imageUrl}}" alt="Course photo">
  <mat-card-content>
    <p class="course-short-desc">
      {{ course.description }}
    </p>
    <div fxLayout="row">
      <p fxFlexAlign="baseline" style="margin-right: 5px;"> ({{course.averageRating | number:'1.1-2'}})</p>
      <p fxFlexAlign="baseline" class="rating-para">
        <bar-rating [(rate)]="course.averageRating" [max]="5" [readOnly]="true"></bar-rating>
      </p>
      <p fxFlexAlign="baseline" fxFlex fxLayout fxLayoutAlign="flex-end" class="more-para">
        <button mat-button (click)="onCoureDetailsClicked()">WIĘCEJ...</button>
      </p>
    </div>
  </mat-card-content>

</mat-card>
