.course-card-style {
  max-width: 325px;
  margin: 5px;
  min-height: 440px;
}

.header-image {
  /* background-image: url('../../../assets/images/air_icon.png'); */
  background-size: cover;
}

mat-card-header{
  min-height: 85px;
}

.course-short-desc {
  font-style: italic;
}

.main-card-image {
  height: 200px;
}

.rating-para {
  margin: 0px;
}

.more-para {
   margin: 0px;
}
