<section fxLayout="column" fxLayoutAlign="center center">

  <h1>Logowanie</h1>
  <img src="../../../assets//images//cap.png" alt="Students cap image" width="250" height="250">


  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <mat-form-field>
      <input matInput
        type="email"
        placeholder="E-mail"
        ngModel
        name="email"
        email
        required #emailInput="ngModel">
        <mat-error *ngIf="!emailInput.hasError('required')">E-mail jest niepoprawny.</mat-error>
        <mat-error *ngIf="emailInput.hasError('required')">Pole jest wymagane.</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Hasło powinno zawierać przynajmniej 6 znaków.">
      <input matInput
        type="password"
        placeholder="Hasło"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end"> {{ pwInput.value?.length }} / 6 </mat-hint>
      <mat-error>Hasło musi mieć przynajmniej 6 znaków.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Login</button>

  </form>

</section>
