<header>

  <mat-toolbar color="primary">

    <mat-toolbar-row>
      <div>

        <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-sm *ngIf="userAuthenticated">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Rekomendowane</span>
          </button>
          <button mat-menu-item>
            <span>Automatyka i Robotyka</span>
          </button>
          <button mat-menu-item>
            <span>Elektrotechnika</span>
          </button>
          <button mat-menu-item>
            <span>Informatyka</span>
          </button>
           <button mat-menu-item>
            <span>Inżynieria biomedyczna</span>
          </button>
           <button mat-menu-item>
            <span>Mikroelektronika</span>
          </button>
        </mat-menu>

        <mat-icon>school</mat-icon> E-Learning
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="15px" class="navigation-links">
          <li *ngIf="!userAuthenticated"> <a routerLink="login">Zaloguj</a> </li>
          <li *ngIf="!userAuthenticated"> <a routerLink="signup">Załóż konto</a> </li>
          <li *ngIf="userAuthenticated" (click)="onLogout()"> <a>Wyloguj</a> </li>
        </ul>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

</header>
