<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened class="sidenav-style"
                [fixedInViewport]="false" [fixedTopGap]=65
                [fixedBottomGap]=0 fxHide.lt-md>
    <mat-action-list>
      <button mat-list-item> <mat-icon>chevron_right</mat-icon> Rekomendowane </button>
      <button mat-list-item (click)="onSetCategory('Automatyka i Robotyka')"> <mat-icon>chevron_right</mat-icon> Automatyka i Robotyka </button>
      <button mat-list-item (click)="onSetCategory('Elektrotechnika')"> <mat-icon>chevron_right</mat-icon> Elektrotechnika </button>
      <button mat-list-item (click)="onSetCategory('Informatyka')"> <mat-icon>chevron_right</mat-icon> Informatyka </button>
      <button mat-list-item (click)="onSetCategory('Inżynieria biomedyczna')"> <mat-icon>chevron_right</mat-icon> Inżynieria biomedyczna </button>
      <button mat-list-item (click)="onSetCategory('Mikroelektronika')"> <mat-icon>chevron_right</mat-icon> Mikroelektronika </button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div fxLayout="column">
      <h1 *ngIf="!isLoadingRecent">Najnowsze</h1>

      <mat-divider></mat-divider>

      <div fxLayout="row wrap">

        <mat-spinner *ngIf="isLoadingRecent"> </mat-spinner>
        <ng-container *ngFor="let c of recentCourses">
          <app-course-card [course]="c"></app-course-card>
        </ng-container>

      </div>
    </div>

    <div fxLayout="column">
      <h1 *ngIf="!isLoadingTop">Najwyżej oceniane</h1>
      <mat-divider></mat-divider>
    <div fxLayout="row wrap">

        <mat-spinner *ngIf="isLoadingTop"> </mat-spinner>
        <ng-container *ngFor="let c of topRatedCourses">
          <app-course-card [course]="c"></app-course-card>
        </ng-container>

    </div>
    </div>


    <div fxLayout="column">
      <h1 *ngIf="!isLoadingRecommended">Wybrane dla Ciebie</h1>
      <mat-divider></mat-divider>
    <div fxLayout="row wrap">

        <mat-spinner *ngIf="isLoadingRecommended"> </mat-spinner>
        <ng-container *ngFor="let c of recommondedForYou">
          <app-course-card [course]="c"></app-course-card>
        </ng-container>

    </div>
    </div>



    <div fxLayout="column">
      <h1 *ngIf="!isLoadingBeacuse">Ponieważ spodobał Ci się kurs {{ likedCourse }} </h1>
      <mat-divider></mat-divider>
    <div fxLayout="row wrap">

        <mat-spinner *ngIf="isLoadingBeacuse"> </mat-spinner>
        <ng-container *ngFor="let c of becauseYouLiked">
          <app-course-card [course]="c"></app-course-card>
        </ng-container>

    </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

